html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: black;
}

* {
  box-sizing: border-box;
}
